@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  overflow-x:hidden;
  
}

li, a, button {
  font-family:"Mina", sans-serif;
  font-weight:600px ;
  font-size: 1vw;
  color: rgb(241, 115, 11);
  text-decoration: none;
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:10px 10%;
  background-color:#1b1b1b;
  font-weight: 600;
}

@font-face{
  font-family: "StarWars" ;
  src: url ('fonts/STARWARS.ttf') format('truetype');
}

body{
  background-color:#24252A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family:"StarWars";
}

footer{
  background-color:#1b1b1b;
  height: auto;
  width: 100%;
  font-family: "Mina", sans-serif;
  padding-top:20px;
  color:#fcf8f5;
  margin-top:auto;
  
}

button {
  padding:9px 25px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius:50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(247, 202, 166, 0.932);
  transition: all 0.3s ease 0s;
}

.logo{
  
  margin-right: auto;
  width:160px; 
  height:100px;
 
}

.logo_footer{
  cursor:pointer;
  width:80px; 
  height:50px;
  background-color: transparent;
  display: inline-flex;
  position: top left;
}

.nav_links{
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  transition: all 0.3s ease 0s;
  color:#fcf8f5;
}

.textover{

  top:10%;
  position: relative;
  overflow: hidden;
  white-space: normal;
}

.textover figcaption{

  position: absolute;
  bottom:30%;
  left:10%;

  color:rgba(255, 255, 255, 1);
  font-family: "Orbitron", sans-serif;
  font-size: 2vw;
  background-color: transparent;
  text-align: center;
}

.textover figcaption h2 {

  position:relative;
  left:15%;

  max-width: 25vw;
  color:rgba(255, 255, 255, 1);
  font-family: "Mina", sans-serif;
  font-size: 1vw;
  background-color: transparent;
  font-weight: 100;
  
}

.backgroundGif {
  width: 100%;
  max-width: fit-content;
  height: auto;
}

.backgroundButton {
  text-align: right;
  justify-content: flex-end;

}

.trailer-video{
  display:block;
  text-align: center;
  padding-bottom: 100px;
}

.footer-content{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content p{
  max-width: fit-content;
  margin: 10px auto;
  line-height: 28px;
  font-size: 12px;
}

.footer-logo{
  cursor:pointer;
  width:80px; 
  height:50px;
  background-color: transparent;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  color:rgba(255, 255, 255, 1)
}

.socials a:hover{
  color:rgba(241, 115, 11, 0.8);
  transition: all 0.3s ease 0s;
}

.socials a i {
  font-size: 1.5rem;
}

.footer-bottom{
  font-size: 10px;
  text-align: center;
  background: black;
}

.USK-footer{
  cursor:pointer;
  width:auto; 
  height:110px;
  position: absolute;
  right: 20px;
  
}

.disney-logo{
  cursor:pointer;
  width:auto; 
  height:150px;
  position: absolute;
  right: 150px;
  padding-right: 20px;
  
}


.fortiche-logo{
  cursor:pointer;
  width:auto; 
  height:70px;
  position: absolute;
  right: 300px;
  padding-right: 20px;

}


.bodyContainer{
  margin: 0;
  width: 100%;
  height: auto;
  display:flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  overflow:hidden;

  background-color: #1313147e;

  margin-bottom: 100px;

}
.container{
  display:inline-block;

  background-color: #24252A;
  font-size: 16px;
  margin: 1%;
  max-width: 30vw;
  min-width:230px;

  overflow:hidden;
  position: relative;
  text-align: center;

}

.container img{
  height: auto;
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;

  border-radius: 4px;
  border-color: #000;

  
}

.container *{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.container h3{
  background-color: #1b1b1b;
  color:rgb(255, 255, 255);
  border: 2px solid #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin:0;
  padding: 5px 10px;
  text-transform: uppercase;
  font-family: "Mina", sans-serif;
}

.container::before,
.container::after{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  -webkit-transition: all 0.35 ease;
  transition: all 0.35s ease;
  background-color:#000;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  opacity: 0.9;
  z-index:1; 

}

.container::before{
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.container::after{
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.container figcaption{
  top:40%;
  left:40%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale (0.5);
  transform:  translate(-50%, -50%) scale (0.5);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;

}

.container a {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: 3;
}

.container:hover img {
opacity: 0.5;
}

.container:hover::before,
.container.hover::before{
  transform: skew(45deg) translateX(-55%);
  -webkit-transform: skew(45deg) translateX(-55%);
}

.container:hover::after,
.container.hover::after{
  transform: skew(45deg) translateX(55%);
  -webkit-transform: skew(45deg) translateX(55%);
}

.container:hover figcaption,
.container.hover figcaption{
  -webkit-transform: translate(-50%, -50%) scale (1);
  transform: translate(-50%, -50%) scale (1);
  opacity: 1;
}





h1{
  font-family: "Mina", sans-serif;
  font-size: 30px;
  color:#fcf8f5;
  margin: 15px;
  text-align: center;
  margin-top:200px;

}

/* About page -------- */

.aboutToirImg{
  width: 100vw;
  height:100vh;
  position:fixed;
  left: 0;
  right: 0; 
  top: 0;
  bottom: 0;
  z-index: -1;
}

.aboutUsBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;



}

.aboutUsPic{

  margin-left:20%;
  padding-right: 100px;
  
  animation: aboutUsPic 1.5s ease-out;
  overflow-x: hidden;
}

.aboutUsText {
  font-family: "Mina", sans-serif;
  color:#fcf8f5;
  text-align: center;
  font-size: 40px;
  padding-left: 70px;
  padding-right: 70px;
  max-width: 700px;

  margin-right: 20%;
  
  animation: aboutUsText 1.5s ease-out;
  overflow-x: hidden;

  border: #fcf8f5;
  border-style: solid;

}
.aboutUsContent {
  font-family: "Mina", sans-serif;
  color:#fcf8f5;
  text-align: center;
  font-size: 25px;
  padding-left: 70px;
  padding-right: 400px;
  
  animation: aboutUsContent 1.5s ease-out;
  overflow-x: hidden;
}

.aboutToirVision{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  width: 50%;
}

@keyframes aboutUsText{

  0%{
    transform: translateX(80%);
    overflow-x: hidden;
  }
  100%{
    transform: translateX(0%);
    overflow-x: hidden;
  }
}

@keyframes aboutUsPic{

  0%{
    transform: translateX(-50%);
    overflow-x: hidden;
  }
  100%{
    transform: translateX(0%);
    overflow-x: hidden;
  }
}

/* Support Page -------- */


.supportBackground{
  width: 100vw;
  height:100vh;
  object-fit:cover;
  position:fixed;
  left: 0;
  right: 0; 
  top: 0;
  bottom: 0;
  z-index: -1;
}

.supportHeader{
  font-family: "Mina", sans-serif;
  color:#fcf8f5;
  text-align: left;
  font-size: 35px;
  color:chocolate;

  padding-left: 80px;
  padding-top: 100px;
   
}

.supportText{
  font-family: "Mina", sans-serif;
  color:#fcf8f5;
  text-align: left;
  font-size: 20px;

  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 80px;
}

.faqQuestions{

  font-family: "Mina", sans-serif;
  color:#fcf8f5;
  text-align: left;
  font-size: 20px;

  padding-left: 80px;

  font-weight: 600;
  padding-top: 35px;
}

.faqAnswers{

  font-family: "Mina", sans-serif;
  color:#fcf8f5;
  text-align: left;

  font-size: 20px;
  font-size: 17px;
  padding-left: 80px;
  padding-bottom: 50px;
}

.faqTextBottom{
  font-family: "Mina", sans-serif;
  color:#fcf8f5;
  text-align: left;

  padding-left: 80px;

  padding-bottom: 200px;
  padding-top: 50px;
}



/* Games Page ------------------- content*/

.trailer-video{
  padding-top: 10%;
}


.background-image-games{
  width: 100vw;
  height:100vh;
  object-fit:cover;
  position:fixed;
  left: 0;
  right: 0; 
  top: 0;
  bottom: 0;
  z-index: -1;

}

.background-video-games{
  width: 100vw;
  height:90vh;
  object-fit:cover;
  position:relative;
  left: 0;
  right: 0; 
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container-teaser{
  position: relative;
}

.container-teaser-logo{
  position: absolute;
  top:20%;
  left:50%;
  transform: translate(-50%, -50%);

  background-color: #24252aab;

  text-align: center;

}



.container-games{
 margin-left: 10%;
 margin-right:10%;
 background-color: #0000008f;
 
}



.productDescription {
  width: auto;
  height:50vw;
  padding-top: 100px;

  position: center;
  
  opacity: 0.8;
  
}

.text-games h1{
  position: static;
  text-align: center;
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
  color:#fcf8f5;
  font-weight: bold;
  text-decoration: overline;
  text-decoration-color: rgb(97, 205, 248);

  margin-top: 120px;
  
}

.collectorsEdition-img{
  width: 65vw;
  height:85vh;
  
  padding-top:10px;
  padding-bottom: 100px;
  position: relative;
  
  display:block; 
  margin-left: auto;
  margin-right: auto;
  
  flex-basis: 60%;
}



.wrapper{
  max-height: 100vh;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 150px;
 
  font-family: "Mina", sans-serif;
  line-height: 1.5;
  max-width: 960px;
  margin: 0 auto;
}

.box{
  display: flex;
  flex-wrap: wrap;
  width: 2000px;
}

.box label{
  background: rgb(97, 205, 248);;
  
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
  order: 1;
  display: block;
  padding: 16px 127px;
  margin-right: 4px;
  cursor: pointer;
}

.box .content {
  display: none;
  padding:30px;
  background: rgba(0, 0, 0, 0.87);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
  order: 99;
  flex-grow: 1;
  width: 100%;
  color:rgba(255, 255, 255, 1)
 
  
}

.box .content h1{
  margin: 0;
  text-align: left;
}

.box input[type="radio"]{
  display: none;
  
}

.box input[type="radio"]:checked + label{
  background: #fff;
  
}

.box input[type="radio"]:checked + label + .content{
  display:block;
 
}



/* Definition der Animationen */
/* 1. Bewegung des Sliders */
@keyframes slidesStart01 {
  0%, 15% {left: 0;}
  25%, 40% {left: -100%;}
  50%, 65% {left: -200%;}
  75%, 90% {left: -300%;}
  100% {left: -400%;}
}

@-webkit-keyframes slidesStart01 {
  0%, 15% {left: 0;}
  25%, 40% {left: -100%;}
  50%, 65% {left: -200%;}
  75%, 90% {left: -300%;}
  100% {left: -400%;}
}

@keyframes slidesStart101 {
  0%, 15% {left: 0;}
  25%, 40% {left: -100%;}
  50%, 65% {left: -200%;}
  75%, 90% {left: -300%;}
  100% {left: -400%;}
}

@-webkit-keyframes slidesStart101 {
  0%, 15% {left: 0;}
  25%, 40% {left: -100%;}
  50%, 65% {left: -200%;}
  75%, 90% {left: -300%;}
  100% {left: -400%;}
}

@keyframes slidesStart02 {
  90.01% {left: 0;}
  0%, 15%, 100% {left: -100%;}
  25%, 40% {left: -200%;}
  50%, 65% {left: -300%;}
  75%, 90% {left: -400%;}
}

@-webkit-keyframes slidesStart02 {
  90.01% {left: 0;}
  0%, 15%, 100% {left: -100%;}
  25%, 40% {left: -200%;}
  50%, 65% {left: -300%;}
  75%, 90% {left: -400%;}
}

@keyframes slidesStart102 {
  90.01% {left: 0;}
  0%, 15%, 100% {left: -100%;}
  25%, 40% {left: -200%;}
  50%, 65% {left: -300%;}
  75%, 90% {left: -400%;}
}

@-webkit-keyframes slidesStart102 {
  90.01% {left: 0;}
  0%, 15%, 100% {left: -100%;}
  25%, 40% {left: -200%;}
  50%, 65% {left: -300%;}
  75%, 90% {left: -400%;}
}

@keyframes slidesStart03 {
  65.01% {left: 0;}
  0%, 15%, 100% {left: -200%;}
  25%, 40% {left: -300%;}
  50%, 65% {left: -400%;}
  75%, 90% {left: -100%;}
}

@-webkit-keyframes slidesStart03 {
  65.01% {left: 0;}
  0%, 15%, 100% {left: -200%;}
  25%, 40% {left: -300%;}
  50%, 65% {left: -400%;}
  75%, 90% {left: -100%;}
}

@keyframes slidesStart103 {
  65.01% {left: 0;}
  0%, 15%, 100% {left: -200%;}
  25%, 40% {left: -300%;}
  50%, 65% {left: -400%;}
  75%, 90% {left: -100%;}
}

@-webkit-keyframes slidesStart103 {
  65.01% {left: 0;}
  0%, 15%, 100% {left: -200%;}
  25%, 40% {left: -300%;}
  50%, 65% {left: -400%;}
  75%, 90% {left: -100%;}
}

@keyframes slidesStart04 {
  40.01% {left: 0;}
  0%, 15%, 100% {left: -300%;}
  25%, 40% {left: -400%;}
  50%, 65% {left: -100%;}
  75%, 90% {left: -200%;}
}

@-webkit-keyframes slidesStart04 {
  40.01% {left: 0;}
  0%, 15%, 100% {left: -300%;}
  25%, 40% {left: -400%;}
  50%, 65% {left: -100%;}
  75%, 90% {left: -200%;}
}

@keyframes slidesStart104 {
  40.01% {left: 0;}
  0%, 15%, 100% {left: -300%;}
  25%, 40% {left: -400%;}
  50%, 65% {left: -100%;}
  75%, 90% {left: -200%;}
}

@-webkit-keyframes slidesStart104 {
  40.01% {left: 0;}
  0%, 15%, 100% {left: -300%;}
  25%, 40% {left: -400%;}
  50%, 65% {left: -100%;}
  75%, 90% {left: -200%;}
}

/* 2. Wechsel des ersten Slides ans Ende und zurück */
@keyframes slide01ToEndStart01 {
  89.99% {left: 0;}
  90%, 100% {left: 100%;}
}

@-webkit-keyframes slide01ToEndStart01 {
  89.99% {left: 0;}
  90%, 100% {left: 100%;}
}

@keyframes slide01ToEndStart101 {
  89.99% {left: 0;}
  90%, 100% {left: 100%;}
}

@-webkit-keyframes slide01ToEndStart101 {
  89.99% {left: 0;}
  90%, 100% {left: 100%;}
}

@keyframes slide01ToEndStart02 {
  49.99%, 90.01% {left: 0;}
  50%, 90% {left: 100%;}
}

@-webkit-keyframes slide01ToEndStart02 {
  49.99%, 90.01% {left: 0;}
  50%, 90% {left: 100%;}
}

@keyframes slide01ToEndStart102 {
  49.99%, 90.01% {left: 0;}
  50%, 90% {left: 100%;}
}

@-webkit-keyframes slide01ToEndStart102 {
  49.99%, 90.01% {left: 0;}
  50%, 90% {left: 100%;}
}

@keyframes slide01ToEndStart03 {
  24.99%, 65.01% {left: 0;}
  25%, 65% {left: 100%;}
}

@-webkit-keyframes slide01ToEndStart03 {
  24.99%, 65.01% {left: 0;}
  25%, 65% {left: 100%;}
}

@keyframes slide01ToEndStart103 {
  24.99%, 65.01% {left: 0;}
  25%, 65% {left: 100%;}
}

@-webkit-keyframes slide01ToEndStart103 {
  24.99%, 65.01% {left: 0;}
  25%, 65% {left: 100%;}
}

@keyframes slide01ToEndStart04 {
  40.01% {left: 0;}
  0%, 40% {left: 100%;}
}

@-webkit-keyframes slide01ToEndStart04 {
  40.01% {left: 0;}
  0%, 40% {left: 100%;}
}

@keyframes slide01ToEndStart104 {
  40.01% {left: 0;}
  0%, 40% {left: 100%;}
}

@-webkit-keyframes slide01ToEndStart104 {
  40.01% {left: 0;}
  0%, 40% {left: 100%;}
}

/* 3. Animationen für den Farbwechsel in den Controls */
@keyframes slideControl01 {
  24.99% {background: #68b022;}
  25%, 100% {background: none;}
}

@-webkit-keyframes slideControl01 {
  24.99% {background: #68b022;}
  25%, 100% {background: none;}
}

@keyframes slideControl101 {
  24.99% {background: #68b022;}
  25%, 100% {background: none;}
}

@-webkit-keyframes slideControl101 {
  24.99% {background: #68b022;}
  25%, 100% {background: none;}
}

@keyframes slideControl02 {
  24.99%, 50% {background: none;}
  25%, 49.99% {background: #68b022;}
}

@-webkit-keyframes slideControl02 {
  24.99%, 50% {background: none;}
  25%, 49.99% {background: #68b022;}
}

@keyframes slideControl102 {
  24.99%, 50% {background: none;}
  25%, 49.99% {background: #68b022;}
}

@-webkit-keyframes slideControl102 {
  24.99%, 50% {background: none;}
  25%, 49.99% {background: #68b022;}
}


@keyframes slideControl03 {
  49.99%, 75% {background: none;}
  50%, 74.99% {background: #68b022;}
}

@-webkit-keyframes slideControl03 {
  49.99%, 75% {background: none;}
  50%, 74.99% {background: #68b022;}
}

@keyframes slideControl103 {
  49.99%, 75% {background: none;}
  50%, 74.99% {background: #68b022;}
}

@-webkit-keyframes slideControl103 {
  49.99%, 75% {background: none;}
  50%, 74.99% {background: #68b022;}
}

@keyframes slideControl04 {
  74.99% {background: none;}
  75%, 100% {background: #68b022;}
}

@-webkit-keyframes slideControl04 {
  74.99% {background: none;}
  75%, 100% {background: #68b022;}
}

@keyframes slideControl104 {
  74.99% {background: none;}
  75%, 100% {background: #68b022;}
}

@-webkit-keyframes slideControl104 {
  74.99% {background: none;}
  75%, 100% {background: #68b022;}
}

/* Basisfunktionalität des Sliders */
.slider {
  overflow: hidden;
  list-style-type:none;
  
}

.slider input {
  position: absolute;
  left: -10000px;
  top: 0;
  
}

.slideList {
  width: 400%; /* Anzahl der Slides mal 100 */
  position: relative; /* über die relative Positionierung wird der Slider durchs Sichtfenster geschoben */
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s; /* für den fließenden Schub */
  margin: 0;
  padding: 0;
}

.slideList:after {
  content: ".";
  height: .1px;
  clear: both;
  visibility: hidden;
  font-size: 0;
  display:block;
  overflow: hidden;
}

.slide {
  width: 25%; /* Breite gleich 100 / Anzahl Slides */
 float:left;
  position: relative;
  left: 0;
  -webkit-transition: left 0s .5s;
  -moz-transition: left 0s .5s;
  -o-transition: left 0s .5s;
  transition: left 0s .5s; /*bei Klick auf ein Control werden alle Slides wieder auf Original-Position geschoben, hier für den ersten relevant. Damit die Aktion erst nach der slides-Verschiebung beginnt, kommt ein delay hinzu*/
}

#slide04:checked ~ .slideList .slide,
#slide104:checked ~ .slideList .slide {
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 0s; /* damit er nicht zu früh zurückrutscht */
}
.slideList img {
  width: 50%;
  height: auto;
  vertical-align: bottom;
  float:left;
  
}

/* Zuweisung der Keyframe-Animationen */
.slideList,
.slide,
.slideControl label {
  -webkit-animation: 20s 2s infinite;
  animation: 20s 2s infinite; /* allgemeingültige Werte für die Keyframe-Animation */
  list-style:none;
  
}

/* Positionierung und Aufruf der passenden Animation in Abhängigkeit des Status der Radiobuttons */
#slide01:checked ~ .slideList {
  -webkit-animation-name: slidesStart01;
  animation-name: slidesStart01;
  left: 0;
}

#slide02:checked ~ .slideList {
  -webkit-animation-name: slidesStart02;
  animation-name: slidesStart02;
  left: -100%;
}

#slide03:checked ~ .slideList {
  -webkit-animation-name: slidesStart03;
  animation-name: slidesStart03;
  left: -200%;
}

#slide04:checked ~ .slideList {
  -webkit-animation-name: slidesStart04;
  animation-name: slidesStart04;
  left: -300%;
}

/* Damit der Wechsel von 01 zu 101, 02 zu 102 usw. klappt, muss jeweils eine andere Animation aufgerufen werden*/
#slide101:checked ~ .slideList {
  -webkit-animation-name: slidesStart101;
  animation-name: slidesStart101;
  left: 0;
}

#slide102:checked ~ .slideList {
  -webkit-animation-name: slidesStart102;
  animation-name: slidesStart102;
  left: -100%;
}

#slide103:checked ~ .slideList {
  -webkit-animation-name: slidesStart103;
  animation-name: slidesStart103;
  left: -200%;
}

#slide104:checked ~ .slideList {
  -webkit-animation-name: slidesStart104;
  animation-name: slidesStart104;
  left: -300%;
}

/* Der erste Slide wird jeweils zur rechten Zeit an den Anfang oder das Ende gestellt */
#slide01:checked ~ .slideList .slide01 {
  -webkit-animation-name: slide01ToEndStart01;
  animation-name: slide01ToEndStart01;
}

#slide02:checked ~ .slideList .slide01 {
  -webkit-animation-name: slide01ToEndStart02;
  animation-name: slide01ToEndStart02;
}

#slide03:checked ~ .slideList .slide01 {
  -webkit-animation-name: slide01ToEndStart03;
  animation-name: slide01ToEndStart03;
}

#slide04:checked ~ .slideList .slide01 {
  -webkit-animation-name: slide01ToEndStart04;
  animation-name: slide01ToEndStart04;
}

/* Separate Animations-Namen für die zweite Steuerung */
#slide101:checked ~ .slideList .slide01 {
  -webkit-animation-name: slide01ToEndStart101;
  animation-name: slide01ToEndStart101;
}

#slide102:checked ~ .slideList .slide01 {
  -webkit-animation-name: slide01ToEndStart102;
  animation-name: slide01ToEndStart102;
}

#slide103:checked ~ .slideList .slide01 {
  -webkit-animation-name: slide01ToEndStart103;
  animation-name: slide01ToEndStart103;
}

#slide104:checked ~ .slideList .slide01 {
  -webkit-animation-name: slide01ToEndStart104;
  animation-name: slide01ToEndStart104;
}

/* nur zur Deko */
.sliderWrapper {
  position: relative;
  padding: 6px;
  padding-top: 200px;
  padding-bottom: 200px;
  list-style:none;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}

.slide p {
  position: absolute;
  bottom: 1em;
  left: 0;
  background: rgba(0, 0, 0, .6);
  color: #ddd;
  padding: .4em 1em;
}

/* Steuerung durch den Benutzer */
.slideControl {
  width: 80px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin-left: -40px;
 
}

.control01:checked ~ .slideControl01,
.control02:checked ~ .slideControl02 {
  left: -5000px; /* Blendet die nicht benötigten Labels aus */
}

.slideControl li {
  float: left;
  margin: 0 4px;
  width: 10px;
  height: 10px;
  
  position: relative;
  text-indent: -10000px;
  
  box-shadow: 0 0 2px 2px #ccc;
  list-style:none;

  
}

.slideControl label {
  display: block;
  cursor: pointer;
  background: none;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  border: 2px solid #fff;
}

.slideControl label:hover {
  background: #68b022!important;
}

#slide01:checked ~ .slideControl label[for="slide101"],
#slide02:checked ~ .slideControl label[for="slide102"],
#slide03:checked ~ .slideControl label[for="slide103"],
#slide04:checked ~ .slideControl label[for="slide104"] {
  -webkit-animation-name: slideControl01;
  animation-name: slideControl01;
  background: #68b022;
}

#slide101:checked ~ .slideControl label[for="slide01"],
#slide102:checked ~ .slideControl label[for="slide02"],
#slide103:checked ~ .slideControl label[for="slide03"],
#slide104:checked ~ .slideControl label[for="slide04"]  {
  -webkit-animation-name: slideControl101;
  animation-name: slideControl101;
  background: #68b022;
}

#slide01:checked ~ .slideControl label[for="slide102"],
#slide02:checked ~ .slideControl label[for="slide103"],
#slide03:checked ~ .slideControl label[for="slide104"],
#slide04:checked ~ .slideControl label[for="slide101"] {
  -webkit-animation-name: slideControl02;
  animation-name: slideControl02;
}

#slide101:checked ~ .slideControl label[for="slide02"],
#slide102:checked ~ .slideControl label[for="slide03"],
#slide103:checked ~ .slideControl label[for="slide04"],
#slide104:checked ~ .slideControl label[for="slide01"]  {
  -webkit-animation-name: slideControl102;
  animation-name: slideControl102;
}

#slide01:checked ~ .slideControl label[for="slide103"],
#slide02:checked ~ .slideControl label[for="slide104"],
#slide03:checked ~ .slideControl label[for="slide101"],
#slide04:checked ~ .slideControl label[for="slide102"]  {
  -webkit-animation-name: slideControl03;
  animation-name: slideControl03;
}

#slide101:checked ~ .slideControl label[for="slide03"],
#slide102:checked ~ .slideControl label[for="slide04"],
#slide103:checked ~ .slideControl label[for="slide01"],
#slide104:checked ~ .slideControl label[for="slide02"]  {
  -webkit-animation-name: slideControl103;
  animation-name: slideControl103;
}

#slide01:checked ~ .slideControl label[for="slide104"],
#slide02:checked ~ .slideControl label[for="slide101"],
#slide03:checked ~ .slideControl label[for="slide102"],
#slide04:checked ~ .slideControl label[for="slide103"] {
  -webkit-animation-name: slideControl04;
  animation-name: slideControl04;
}

#slide101:checked ~ .slideControl label[for="slide04"],
#slide102:checked ~ .slideControl label[for="slide01"],
#slide103:checked ~ .slideControl label[for="slide02"],
#slide104:checked ~ .slideControl label[for="slide03"]  {
  -webkit-animation-name: slideControl104;
  animation-name: slideControl104;
}